<!-- Determina si el usuario esta autenticado o es un invitado-->
<div *ngIf="auth.User | async; then authenticated else guest">

</div>
<!-- Se usa el #authenticated o #guest para renderisar el template dependiendo de la respuesta del servicio auth de firestore -->
<!-- Esto con tal de poder hacer uso de una navegación basada en roles-->


<!--Template para usuario autenticado-->
<ng-template #authenticated>

    <!--Identificar el usuario-->
    <div *ngIf="auth.User | async as User">
        <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand">Nombre empresa</a>
                <!--data-toggle para volver al navbar responsive-->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <!-- Se cambia el navbar dependiendo del rol del usuario-->
                        <a class="nav-item nav-link" [routerLink]="['/orders']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
                        <a class="nav-item nav-link" *ngIf="User.role === 'customer'" [routerLink]="['/orders']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Pedidos</a>
                        <a class="nav-item nav-link" *ngIf="User.role === 'admin'" [routerLink]="['/admin']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Administración</a>
                        <a class="nav-item nav-link" [routerLink]="['/shop']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Tienda</a>
                        <a class="nav-item nav-link" *ngIf="User.role === 'customer'" [routerLink]="['/shop']" routerLinkActive="active">Carrito</a>
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
                                {{User.name}}
                              </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" (click)="auth.signOut()">Salir</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</ng-template>

<!--Template para invitados-->
<ng-template #guest>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand">Nombre Empresa</a>
            <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Registro</a>
                    </li>

                </ul>
                <span class="navbar-text">
                        <a>
                             Navbar text with an inline element
                        </a>
                </span>
            </div>
        </div>
    </nav>
</ng-template>