/*----------------------------------- NAVBAR --------------------------------*/

/*Para imágenes del Navbar*/
.avatar, .logo
{
    width:50px; 
    height:50px;
    margin:3px;
    padding:2px;
    border-radius: 70%;
}

/*Color del navbar*/
.navbar-dark
{
    overflow: hidden;
    background-color:#151515;

}

/*Nombre del proyecto*/
.navbar-brand
{
    font-family: 'sans-serif' /*Otras opciones: Verdana*/;
    font-size: 30px;
    color: #ea7c24;
    margin:3px;
    padding:2px;
}

.btn-collapse
{
  background-color: #151515;
}

.fa-eye-slash, .fa-eye
{
    color: #ea7c24;
}





