<div class="login-box">
    <img src="/assets/img/logo.png" class="avatar" alt="Avatar Image">
    <h1>Registro</h1>
    <p>¡Únase ya! ¡Las mejores comidas de Venezuela lo están esperando!</p>
    <form (ngSubmit)="onSignup(f)" #f="ngForm" novalidate="">


        <!-- Introduce email -->
        <!--Validaciones para verificar que el correo cumple el formato-->
        <div class="form-group formlogin">
            <input type="text" id="email" name="email" class="form-control" #email="ngModel" ngModel class="form-control" [ngClass]="{'is-invalid':email.errors!=null && email.touched, 'is-valid':email.errors==null}" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                placeholder="Correo electrónico">
            <!--Muestra mensajes acerca de validaciones-->
            <div class="invalid-feedback">
                <div *ngIf="email.errors?.required">
                    <small>Este campo es requerido.</small>
                </div>
                <div *ngIf="email.errors?.pattern">
                    <small>Debe cumplir con un patrón de correo electrónico (ej: micorreo@example.com).</small>
                </div>
            </div>
            <!--Se enmarca ligeramente en verde si se cumple con el formato válido-->
            <div *ngIf="email.valid" class="valid-feedback"></div>
        </div>
        <hr>
        <!-- Introduce password -->
        <!--Validaciones para verificar que el password cumple el formato-->
        <div class="form-group formlogin">
            <input type="password" class="form-control" id="password" name="password" #password="ngModel" ngModel class="form-control" placeholder="Password" [ngClass]="{'is-invalid':password.errors!=null && password.touched, 'is-valid':password.errors==null}" required
                minlength="6">
            <!--Muestra mensajes acerca de validaciones-->
            <div class="invalid-feedback">
                <div *ngIf="password.errors?.required">
                    <small>Este campo es requerido.</small>
                </div>
                <div *ngIf="password.errors?.minlength">
                    <small>El password debe tener al menos {{password.errors.minlength.requiredLength}} carácteres.</small>
                </div>
            </div>
            <!--Se enmarca ligeramente en verde si se cumple con el formato válido-->
            <div *ngIf="email.valid" class="valid-feedback"></div>
        </div>
        <hr>


        <!--div class="custom-control custom-checkbox"-->
        <!--input type="checkbox" class="custom-control-input" id="customCheck1" required name="acepta" [(ngModel)]="usuario.acepta" #acepta>
                    <label class="custom-control-label" for="customCheck1"><small>He leído y acepto los términos y condiciones.</small></label>
                </div>

            <hr-->
        <!--Submit para iniciar sesión con correo electrónico-->
        <input type="submit" value="Registrarse" [disabled]="!f.valid">

        <a [routerLink]="['/login']" routerLinkActive="active">¿Ya dispone de una cuenta con nosotros?</a>
        <hr>
    </form>
</div>