<!-- Determina si el usuario esta autenticado o es un invitado-->
<div *ngIf="auth.User | async; then authenticated"></div>

<!-- Se usa el #authenticated para renderisar el template dependiendo de la respuesta del servicio auth de firestore -->
<!-- Esto con tal de poder hacer uso de una navegación basada en roles-->


<!--Template para usuario autenticadoe-->
<ng-template #authenticated>
    <div *ngIf="auth.User | async as User">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand"> <b>Dashboard > Perfil</b> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
        </nav>


        <div class="container">

            <div class="container">

                <!--Imagen de Perfil-->
                <div class="img-profile">
                    <img class="img-fluid img-circle img-thumbnail profile-pic" *ngIf="User.photoUrl" src="{{User.photoUrl}}">
                    <img class="img-fluid profile-pic" *ngIf="User.photoUrl == null" src="/assets/img/sin-perfil.png">
                </div>
                <br>

                <!--Para actualizar/añadir imagen de perfil a un usuario-->
                <div class="container">
                    <!--Barra de progreso-->
                    <progressbar [value]="uploadProgress| async" type="primary" [striped]="true" [animate]="true"></progressbar>

                    <!--Muestra el progreso de la barra-->
                    <div class="item">
                        Progress: {{ (uploadProgress | async) / 100 | percent }}
                    </div>
                    <br>
                    <div *ngIf="downloadURL | async; let downloadSrc" class="alert alert-info" role="alert">
                        <p>La foto se cargo correctamente</p>
                    </div>
                    <br>
                    <!--Se sube una nueva foto para el usuario-->
                    <div class="item">
                        <!--Selecciona un archivo .png o .jpg-->
                        <input #inputFile class="hidden" type="file" (change)="upload($event)" accept=".png,.jpg">
                        <!--Botón para poner en funcionamiento el input-->
                        <button type="button" class="btn btn-lg btn-success" (click)="inputFile.click()">
                                Subir foto
                                <i class="fas fa-upload"></i>
                        </button>
                    </div>
                </div>

                <!--Se muestran los otros datos del usuario-->
                <div>
                    <div class="tab-content">
                        <div class="tab-pane active" id="home">
                            <hr>
                            <form #f="ngForm" class="form">
                                <div class="form-group">
                                    <div class="col-xs-6">
                                        <label for="first_name"><h4>Nombre</h4></label>
                                        <input type="text" class="form-control" name="name" id="name" placeholder="{{User.name | titlecase}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-6">
                                        <label for="email"><h4>Email</h4></label>
                                        <input type="email" class="form-control" name="email" id="email" placeholder="{{User.email}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-6">
                                        <label for="password"><h4>Password</h4></label>
                                        <input type="password" class="form-control" name="password" id="password" placeholder="password">
                                    </div>
                                </div>
                                <div class="form-group">

                                    <div class="col-xs-6">
                                        <label for="password2"><h4>Confirmar Password</h4></label>
                                        <input type="password" class="form-control" name="password2" id="password2" placeholder="password">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <br>
                                        <button class="btn btn-lg btn-success" type="submit">
                                                        Actualizar
                                                <i class="fas fa-sync-alt"></i>
                                        </button>
                                        <button (click)="prueba()" class="btn btn-lg btn-success" type="button">
                                            Prueba
                                    <i class="fas fa-sync-alt"></i>
                            </button>
                                    </div>
                                </div>
                            </form>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</ng-template>