table {
    text-align: center;
}

.inner, alert {
    text-align: center;
}

.modal-header
{
    background: #ea7c24;
    color: white;
}

.modal-body
{
    background-color: #151515;
    color: white;
}
