<!--Cards-->
<!-- Tabs ( formulario ) ( adjuntar archivos )-->
<ul class="nav nav-tabs" *ngIf="auth.User | async as user">
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="home" *ngIf="user.role =='admin'">Formulario Producto</a>
    </li>
    <li class="nav-item" *ngIf="user.role == 'admin' && data.id">
        <a class="nav-link" data-toggle="tab" href="#"> Archivos Adjuntos</a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane container fade" id="home">
        <form>
            <input placeholder="Nombre" ngModel="data.name">
        </form>
        <form>
            <input placeholder="Precio" ngModel="data.price">
        </form>
        <form>
            <input placeholder="Descripcion" ngModel="data.description">
        </form>

        <br/>

        <button (click)="saveProduct()">
          Guardar
        </button>
    </div>
</div>