.card
{
    text-align: center;
    padding: 20px;
    background-color: #dd7a29;
    
}

.row 
{
    padding: 20px;
}

.btn-dark
{
    background-color: #151515;
}

i
{
    color: #ea7c24;
}

.fa-edit, .fa-backspace, .fa-pencil-alt, .fa-trash-alt
{
    color:white;
}

img
{
    display: block;
    width:200px; 
    height:200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}