/*Aspecto del modal*/
.card {
    text-align: center;
    padding: 20px;
    background-color: #151515;
    color: white;
}

.modal-header
{
    background: #ea7c24;
    color: white;
}

.hidden 
{  
    display: none;
}

hr {
    background-color: antiquewhite;
}

.row {
    padding: 20px;
}


/*Botón*/

.btn-dark {
    background-color: #151515;
}

.btn-extra, 
.btn-cancelar
{
    margin-left:10px;
}


/*Colores de Iconos*/

.fa-search {
    color: #ea7c24;
}

.fa-edit,
.fa-backspace,
.fa-pencil-alt,
.fa-trash-alt {
    color: white;
}


/*Prop. para imágenes*/

img {
    display: block;
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.fa-plus-circle,
.fa-minus-circle {
    color: white;
}

.modal-body
{
    background-color: #151515;
    color: white;
}