<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand"> <b>Dashboard > Compras</b> </a>
        <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

        <div class="collapse navbar-collapse" [collapse]="isCollapsed" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <!--Solo para que el search quede a la izquierda-->
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" [(ngModel)]="searchterm" (ngModelChange)="search($event)" type="search" placeholder="Filtrar por fecha" aria-label="Search" name="search">
                <button class="btn btn-dark my-2 my-sm-0" type="submit">
                        <i class="fas fa-search"></i>
                </button>
            </form>
        </div>
    </nav>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Monto ($)</th>
                <th scope="col">Fecha</th>
                <th scope="col">Ver Detalle</th>
                <th scope="col">Comprar</th>
            </tr>
        </thead>
        <tbody *ngIf="orders">
            <tr *ngFor="let order of orders">
                <td>{{order.amount}}</td>
                <td>{{order.created_at}}</td>
                <td>
                    <button class="btn btn-warning" (click)="openModal(template)">
                            <i class="far fa-eye"></i>
                    </button>
                    <ng-template #template>
                        <div class="modal-header">
                            <h4 class="modal-title pull-left">Detalles de la Compra</h4>
                            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <b>ID de la transacción:</b> {{order.id}}
                            <hr>
                            <strong>Productos Pedidos:</strong>
                            <br><br>
                            <div *ngFor="let product of order.product; let i index">
                                <b>Nombre:</b> {{product.name}}
                                <br>
                                <b>Precio:</b> {{product.price}}
                                <br>
                                <b>Extras:</b>
                                <ul class="list-unstyled">
                                    <ul *ngFor="let extra of product.extras; let i = index">
                                        <li *ngIf="extra.anadido">{{extra.name | titlecase}}: ${{extra.price}}</li>
                                    </ul>
                                </ul>
                                <br>
                                <hr>
                            </div>

                        </div>
                    </ng-template>

                </td>
                <td>
                    <button class="btn btn-warning">
                            <i class="fas fa-cart-arrow-down"(click)="openRecompra(recompra, order)"></i>
                    </button>
                    <ng-template #recompra>
                        <div class="modal-header">
                            <h4 class="modal-title pull-left">Recomprar</h4>
                            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef2.hide()">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                        </div>
                        <div class="modal-body">
                            <p>Esta seguro que quiere volver a comprar esta orden</p>
                            <div class="row">
                                <div class="col-sm-6" id="paypal-checkout-btn"></div>
                                <div class="col-sm-2">
                                    <button (click)="decline()" type="button" class="btn btn-danger">
                                        <b>Volver a Orden</b>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </ng-template>

                </td>
            </tr>
        </tbody>
    </table>
    <!-- <div *ngIf="orders">
        <div *ngIf="orders.length == 0">
            <alert type="info">
                <strong>Usted no posee ordenes</strong>
            </alert>
        </div>
    </div> -->

    <br><br>
    <button type="button" [routerLink]="['shop']" routerLinkActive="active" class="btn btn-danger">
            <i class="fas fa-reply"></i>
        <b>  Volver a la Tienda</b>
    </button>
    <br><br>
</div>