<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand"> <b>Dashboard > Compras</b> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <!--Solo para que el search quede a la izquierda-->
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Filtrar por fecha" aria-label="Search">
                <button class="btn btn-dark my-2 my-sm-0" type="submit">
                        <i class="fas fa-search"></i>
                </button>
            </form>
        </div>
    </nav>
    <!-- Compras se esta llenando a mano. Hay que implementar la coleccion compras en firestore-->
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Monto ($)</th>
                <th scope="col">Fecha</th>
                <th scope="col">Ver Detalle</th>
            </tr>
        </thead>
        <tbody *ngIf="orders">
            <tr *ngFor="let order of orders">
                <td>{{order.amount}}</td>
                <td>{{order.created_at}}</td>
                <td>
                    <button class="btn btn-warning" (click)="openModal(template)">
                            <i class="far fa-eye"></i>
                    </button>

                    <ng-template #template>
                        <div class="modal-header">
                            <h4 class="modal-title pull-left">Detalles de la Compra</h4>
                            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                                <b>ID de la transacción:</b> {{order.id}}
                                <hr>
                                <strong>Productos Pedidos:</strong>
                                <br><br>
                                <div *ngFor="let product of order.product; let i index">
                                    <b>Nombre:</b> {{product.name}}
                                    <br>
                                    <b>Precio:</b> {{product.price}}
                                    <br>
                                    <b>Extras:</b>
                                    <ul class="list-unstyled">
                                        <ul *ngFor="let extra of product.extras; let i = index">
                                                <li *ngIf="extra.anadido" >{{extra.name | titlecase}}: ${{extra.price}}</li>
                                        </ul>
                                    </ul>
                                    <br>
                                    <hr>
                                </div>

                        </div>
                    </ng-template>

                </td>
            </tr>
        </tbody>
    </table>
    <br><br>
    <button type="button" [routerLink]="['shop']" routerLinkActive="active" class="btn btn-danger">
            <i class="fas fa-reply"></i>
        <b>  Volver a la Tienda</b>
    </button>
    <br><br>
</div>