<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand"> <b>Dashboard > Compras</b> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <!--Solo para que el search quede a la izquierda-->
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Filtrar por fecha" aria-label="Search">
                <button class="btn btn-dark my-2 my-sm-0" type="submit">
                        <i class="fas fa-search"></i>
                </button>
            </form>
        </div>
    </nav>
    <!-- Compras se esta llenando a mano. Hay que implementar la coleccion compras en firestore-->
    <!-- Una vez que se implementen funcionalidades tratar con metodos asyncronos y esperar el llenado del array -->
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Monto</th>
                <th scope="col">Fecha</th>
                <th scope="col">Ver Detalle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>2500</td>
                <td>8/10/2018</td>
                <td>                    
                        <button class="btn btn-warning">
                            <i class="far fa-eye"></i>
                        </button>
                    </td>
            </tr>
            <tr>
                <td>2</td>
                <td>2500</td>
                <td>8/10/2018</td>
                <td>                    
                        <button class="btn btn-warning">
                            <i class="far fa-eye"></i>
                        </button>
                    </td>
            </tr>
            <tr>
                <td>3</td>
                <td>2500</td>
                <td>8/10/2018</td>
                <td>                    
                        <button class="btn btn-warning">
                            <i class="far fa-eye"></i>
                        </button>
                </td>
            </tr>
            <tr>
                <td>4</td>
                <td>2500</td>
                <td>8/10/2018</td>
                <td>                    
                        <button class="btn btn-warning">
                            <i class="far fa-eye"></i>
                        </button>
                </td>
            </tr>
            <tr>
                <td>5</td>
                <td>2500</td>
                <td>8/10/2018</td>
                <td>
                        <button class="btn btn-warning">
                                <i class="far fa-eye"></i>
                        </button>
                </td>
            </tr>
            <tr>
                <td>6</td>
                <td>2500</td>
                <td>8/10/2018</td>
                <td>                    
                    <button class="btn btn-warning">
                        <i class="far fa-eye"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td>7</td>
                <td>2500</td>
                <td>8/10/2018</td>
                <td>
                    <button class="btn btn-warning">
                        <i class="far fa-eye"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>