table, alert
{
    text-align: center;
}

i
{
    color: #ea7c24;
}

.fa-eye, .fa-reply, .fa-cart-arrow-down
{
    color: white;
}

hr
{
    background-color: antiquewhite;
}

.modal-header
{
    background: #ea7c24;
    color: white;
}

.modal-body
{
    background-color: #151515;
    color: white;
}