<h1>¡Bienvenido a UmakeIT!</h1>

<carousel>
    <slide>
      <img src="/assets/img/Imagen1.jpeg" alt="first slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
       <h3>Sabor Venezolano</h3>
        <p>¡Disfruta de las mejores comidas!</p>
      </div>
    </slide>
    <slide>
      <img src="/assets/img/Imagen2.jpeg" alt="second slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3>¿Con hambre? ¡No se preocupe!</h3>
        <p>Compras y entregas a domicilio solo con un click.</p>
      </div>
    </slide>
    <!--slide>
      <img src="/assets/img/Imagen3.jpeg" alt="third slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </slide-->
  </carousel>