<carousel>
    <slide>
        <img src="/assets/img/Imagen1.jpeg" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="/assets/img/Imagen2.jpeg" alt="second slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="/assets/img/Imagen3.jpeg" alt="third slide" style="display: block; width: 100%;">
    </slide>
</carousel>

<div class="container">
    <!-- Three columns of text below the carousel -->
    <br>
    <h3 class="align-self-center">Development Team</h3>
    <br>
    <div class="row">
        <div class="col-lg-4">
            <img class="img-fluid rounded-circle ImageProfile" src="https://firebasestorage.googleapis.com/v0/b/tupedido-backend.appspot.com/o/Im%C3%A1genes%2FCesarFoto.jpg?alt=media&token=515c35e7-0159-49d3-9656-2c100ada4d50" alt="Generic placeholder image" width="140"
                height="140">
            <h2>Cesar, <small>Salazar</small></h2>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-fluid rounded-circle ImageProfile" src="https://firebasestorage.googleapis.com/v0/b/tupedido-backend.appspot.com/o/Im%C3%A1genes%2FLuisFoto1.JPG?alt=media&token=4a1ff1c3-781b-476d-bd5f-668eb28a0c4c" alt="Generic placeholder image" width="140"
                height="140">
            <h2>González, <small>Luis</small></h2>
            <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-fluid rounded-circle ImageProfile" src="https://firebasestorage.googleapis.com/v0/b/tupedido-backend.appspot.com/o/Im%C3%A1genes%2FcarlosFoto.jpeg?alt=media&token=d7d71ee8-07bf-408d-b42b-e36afee8d728" alt="Generic placeholder image" width="140"
                height="140">
            <h2>De Castro, <small>Carlos</small></h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->