/*----------------------------------- SIDEBAR --------------------------------*/

.sidebar {
    margin: 0;
    padding: 0;
    background-color: #151515;
    position: fixed;
    height: 100vh;
    top: auto;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
  }
   
  .sidebar a.active {
    background-color: #ea7c24;;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  @media screen and (max-width: 700px) 
  {
    .sidebar 
    {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) 
  {
    .sidebar a 
    {
      text-align: center;
      float: none;
    }

   }

   /*Nombre de usuario*/
   .name-user
   {
        display: block;
        color: white;
        padding: 16px;
        text-decoration: none;
        text-align: center;
        font-size: 10px;
   }

   /*Iconos de FontAwesome en general*/
    i
    {
        text-align: center;
        color:#ea7c24;
    }

    /*Foto de perfil*/
    .profile-pic
  {
      width:100px; 
      height:100px;
      margin:3px;
      padding:2px;
      border-radius: 70%;
  }
