<nav>
    <!-- Determina si el usuario esta autenticado o es un invitado-->
    <div *ngIf="auth.User | async; then authenticated"></div>

    <!-- Se usa el #authenticated para renderisar el template dependiendo de la respuesta del servicio auth de firestore -->
    <!-- Esto con tal de poder hacer uso de una navegación basada en roles-->

    <!--Template para usuario autenticadoe-->
    <ng-template #authenticated>
        <div *ngIf="auth.User | async as User">

            <button type="button" class="btn btn-dark" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseUser" tooltip="Perfil" placement="right">
                        <i *ngIf="!isCollapsed" class="fas fa-user-slash"></i>
                        <i *ngIf="isCollapsed" class="fas fa-user"></i>
                </button>
            <div id="collapseUser" [collapse]="isCollapsed">
                <div class="name-user">
                    <img class="img-fluid profile-pic" *ngIf="User.photoUrl" src="{{User.photoUrl}}">
                    <img class="img-fluid profile-pic" *ngIf="User.photoUrl == null" src="/assets/img/sin-perfil.png">
                    <!--Nombre-->
                    <br>
                    <b>{{User.name | titlecase}}</b>
                    <hr>
                    <!--Rol de usuario-->
                    <!--Se muestra el rol del usuario con un botón-->
                    <button *ngIf="User.role === 'admin'" type="button" class="btn btn-dark btn-sm diseabled">
                                        <i class="fas fa-user-edit"></i>
                                        <b>  Administrador</b>
                                </button>
                    <button *ngIf="User.role === 'customer'" type="button" class="btn btn-dark btn-sm diseabled">
                                        <i class="fas fa-user-tie"></i>
                                        <b>  Cliente</b>
                                </button>
                </div>
            </div>
            <hr>

            <button type="button" class="btn btn-dark" [routerLink]="['perfil']" routerLinkActive="active" tooltip="Editar perfil" placement="right">
                <i class="fas fa-user-edit"></i>
            </button>
            <br><br>
            <div *ngIf="User.role === 'customer'">
                <button type="button" class="btn btn-dark" [routerLink]="['compras']" routerLinkActive="active" tooltip="Compras" placement="right">
                           <i class="fas fa-cart-arrow-down"></i>
                   </button>
                <br><br>
            </div>
            <button type="button" class="btn btn-dark" (click)="auth.signOut()" tooltip="Salir" placement="right">
                    <i class="fas fa-sign-out-alt"></i>
            </button>
            <br><br>

        </div>
    </ng-template>

</nav>